<section class="mt-4 pt-4">
  <div id="showcase">
    <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators d-none d-md-flex">
        <li data-target="#showcase-carousel" (click)="onClickSlideTo(0)" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 0 }"></li>
        <li data-target="#showcase-carousel" (click)="onClickSlideTo(1)" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 1 }"></li>
        <li data-target="#showcase-carousel" (click)="onClickSlideTo(2)" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 2 }"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 0 }">
          <img src="../../../assets/images/image1.jpg" alt="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block text-right mb-5">
            <h1 class="display-3">Heading One</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
            <button class="btn btn-danger btn-lg">Learn More</button>
          </div>
        </div>
        <div class="carousel-item" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 1 }">
          <img src="../../../assets/images/image2.jpg" alt="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block text-center mb-5">
            <h1 class="display-3">Heading Two</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
            <button class="btn btn-primary btn-lg">Learn More</button>
          </div>
        </div>
        <div class="carousel-item" [ngClass]="{ 'active' : carouselOptions.activeCarousel === 2 }">
          <img src="../../../assets/images/image3.jpg" alt="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block text-left mb-5">
            <h1 class="display-3">Heading Three</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
            <button class="btn btn-success btn-lg">Learn More</button>
          </div>
        </div>
      </div>
      <a href="javascript:void(0);" class="carousel-control-prev" role="button" data-slide="prev" (click)="onClickSlideTo('prev')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a href="javascript:void(0);" class="carousel-control-next" role="button" data-slide="next" (click)="onClickSlideTo('next')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- HOME ICON SECTION -->
  <div id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <mat-icon class="md-48">settings</mat-icon>
          <h3>Turning Gears</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, exercitationem.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <mat-icon class="md-48">cloud_upload</mat-icon>
          <h3>Sending Data</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, exercitationem.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <mat-icon class="md-48">add_shopping_cart</mat-icon>
          <h3>Making Money</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, exercitationem.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- HOME HEADING SECTION -->
  <div id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, recusandae debitis. Nihil ipsum natus est, dignissimos deleniti dicta odit nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- INFO SECTION -->

  <div id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>Lorem, ipsum.</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, omnis nemo? Mollitia hic vitae dolor! Voluptas laboriosam incidunt laborum iusto.</p>
          <button class="btn btn-outline-danger btn-lg">Learn More</button>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/laptop.png" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <!-- VIDEO PLAY SECTION -->

  <div id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a href="javascript:void(0);" class="video" data-video="https://www.youtube.com/embed/8MPbR6Cbwi4" data-toggle="modal" data-target="#videoModal">
              <mat-icon>play_arrow</mat-icon>
            </a>
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PHOTO GALLERY -->

  <div id="gallery" class="pt-5 pb-4">
    <div class="container text-center">
      <h1>Photo Gallery</h1>
      <p>Check out Our Photos</p>

      <div class="row mb-4">
        <div class="col-md-4 mb-4 mb-md-0">
          <a href="http://lorempixel.com/560/560/business/1" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/1" class="img-fluid" alt="" srcset="">
          </a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <a href="http://lorempixel.com/560/560/business/2" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/2" class="img-fluid" alt="" srcset="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/3" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/3" class="img-fluid" alt="" srcset="">
          </a>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4 mb-4 mb-md-0">
          <a href="http://lorempixel.com/560/560/business/4" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/4" class="img-fluid" alt="" srcset="">
          </a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <a href="http://lorempixel.com/560/560/business/5" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/5" class="img-fluid" alt="" srcset="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/6" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/400/400/business/6" class="img-fluid" alt="" srcset="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- NEWSLETTER SECTION -->

  <div id="newsletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Signup For Our Newsletter</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos unde tempore, delectus a dolores aperiam impedit obcaecati! Nesciunt, laudantium.</p>
          <form class="form-inline justify-content-center" (ngSubmit)="onSubmitNewsletterSignup()">
            <label for="input-name" class="sr-only">Name</label>
            <input type="text" name="input-name" id="" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Name"
                   [(ngModel)]="newsletterSignup.name">
            <label for="input-email" class="sr-only">Email</label>
            <!--TO DO: Add validations to email input field-->
            <input type="email" name="input-email" id="" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Email"
                    [(ngModel)]="newsletterSignup.email">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="text-center p-4 bg-black text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright 2018 &copy; DefiantBaker</p>
      </div>
    </div>
  </div>
</footer>
