<section class="mt-4 pt-4">
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>About Us</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, dignissimos.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about-section" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>What We Do</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt placeat vero maxime corporis quibusdam voluptas vitae, aspernatur nulla animi qui odio aliquam dolorum aut asperiores possimus fugit laborum dignissimos. Quisquam?</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt placeat vero maxime corporis quibusdam voluptas vitae, aspernatur nulla animi qui odio aliquam dolorum aut asperiores possimus fugit laborum dignissimos. Quisquam?</p>
        </div>
        <div class="col-md-4 d-none d-md-block justify-content-center">
          <img src="http://lorempixel.com/400/400/business/8" alt="" class="about-img img-fluid rounded-circle">
        </div>
      </div>
    </div>
  </section>

  <!-- Icon Boxes -->

  <section id="icon-boxes" class="py-5">
    <div class="container">
      <div class="row mb-3 mb-md-4">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-building"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-bullhorn"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-comments"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-0 mb-md-2">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-clock-o"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-cc"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-coffee"></i>
              <h3>Lorem, ipsum.</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, asperiores?
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Testimonials -->

  <section id="testimonials-section" class="bg-dark text-white py-4">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Testimonials</h2>
        <div id="textimonials-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption py-0">
                <blockquote class="blockquote text-left mb-0">
                  <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quam.</p>
                  <footer class="blockquote-footer">John Doe From <cite title="Company 1">Company 1</cite></footer>
                </blockquote>
              </div>
            </div>
            <!-- <div class="carousel-item">
                <div class="carousel-caption py-0">
                    <blockquote class="blockquote text-left mb-0">
                        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quam.</p>
                        <footer class="blockquote-footer">Steve Smith From <cite title="Company 2">Company 2</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption py-0">
                    <blockquote class="blockquote text-left mb-0">
                        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quam.</p>
                        <footer class="blockquote-footer">James Clarkson From <cite title="Company 3">Company 3</cite></footer>
                    </blockquote>
                </div>
            </div> -->
          </div>
          <a href="#textimonials-carousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <i class="fa fa-arrow-circle-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a href="#textimonials-carousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer id="main-footer" class="text-center p-4 bg-black text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2018 &copy; DefiantBaker</p>
        </div>
      </div>
    </div>
  </footer>
</section>
