<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">DefiantBaker</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home" class="nav-link pr-2 pl-2">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/about" class="nav-link pr-2 pl-2">About Us</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/services" class="nav-link pr-2 pl-2">Services</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/blog" class="nav-link pr-2 pl-2">Blog</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/contact" class="nav-link pr-2 pl-2">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
