
/*html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }*/

body {
  overflow-x: hidden;
}

/* Material Icons Css */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* App Custom Css */

.dark-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url(assets/images/media.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

.bg-black {
  background-color: #000;
}

#page-header {
  height: 200px;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#testimonials-section .carousel-control-prev-icon, #testimonials-section .carousel-control-next-icon {
  background-image: none;
}

#testimonials-section .fa {
  font-size: initial;
}

#testimonials-section .carousel-item {
  height: 8.5rem;
}

@media (min-width:768px) {
  #testimonials-section .carousel-item {
    height: 5.75rem;
  }
}

#faq-section .card-header {
  cursor: pointer;
}
